<div class="flex justify-center items-center ">
  <div class="grid auto-cols-max grid-flow-col gap-5 text-center">
    <div class="bg-neutral rounded-box text-neutral-content flex flex-col p-2">
      <span class="countdown font-mono text-5xl">
        <span style="--value:{{days}};" aria-live="polite">{{days}}</span>
      </span>
      Dias
    </div>
    <div class="bg-neutral rounded-box text-neutral-content flex flex-col p-2">
      <span class="countdown font-mono text-5xl">
        <span style="--value:{{hours}};" aria-live="polite">{{hours}}</span>
      </span>
      Hrs
    </div>
    <div class="bg-neutral rounded-box text-neutral-content flex flex-col p-2">
      <span class="countdown font-mono text-5xl">
        <span style="--value:{{minutes}};" aria-live="polite">{{minutes}}</span>
      </span>
      Min
    </div>
    <div class="bg-neutral rounded-box text-neutral-content flex flex-col p-2">
      <span class="countdown font-mono text-5xl">
        <span style="--value:{{seconds}};" aria-live="polite">{{seconds}}</span>
      </span>
      Seg
    </div>
  </div>
</div>