<div class="hero min-h-96 bg-base-200 bg-cover relative bg-center flex flex-col justify-center items-center mb-20" style="background-image: url(https://img.daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.webp);">

  <div class="text-center text-white">
    <h2 class="mb-[10px] text-center f1">LLEGO EL DIA</h2>
    <h1 class="mb-[10px] text-center f2">Mathi y Jose</h1>
    <p class="mt-[15px] mb-[15px] text-center f3">
      ¡NOS CASAMOS!
    </p>
  </div>
  
  <div class="absolute bottom-0 left-1/2 -translate-x-1/2 translate-y-1/2">
    <app-cuenta-regresiva></app-cuenta-regresiva>
  </div>
</div>