<div
  class="hero min-h-96 bg-base-200 bg-cover bg-center flex justify-center items-center"
  style="
    background-image: url(https://img.daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.webp);
  "
>
  <div class="text-center bg-gray-50 rounded-md m-2 opacity-90 p-2 shadow-lg">
    <h1 class="text-4xl text-gray-800 font-bold text-center p-4">LOS ESPERAMOS</h1>
    <p class="text-gray-600 mb-2 text-center justify-center">
        Con mucho amor y alegría los invitamos a
        <br> 
        formar parte de nuestra boda. 
    </p>
    <p class="underline text-gray-600 mb-5 text-center justify-center font-bold">Mathi y Jose</p>
  </div>
</div>
