<div
  class="foot min-h- bg-base-200 bg-cover bg-center flex justify-center items-center"
  style="
    background-image: url(https://img.daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.webp);
  "
>
  <div class="text-white text-center m-2 opacity-90 p-2 shadow-lg">
    <h1 class="text-[45px] font-bold text-center p-4 f1">Los Esperamos</h1>
    <p class=" mb-2 text-center justify-center">
        Con mucho amor y alegría los invitamos a
        <br> 
        formar parte de nuestra boda. 
    </p>
    <p class="underline mb-5 text-center justify-center font-semibold">Mathi y Jose</p>
  </div>
</div>
